
* {
   box-sizing: border-box;
}
body {
  margin: 0;
  text-align: center;
  font-family: Open Sans;
  padding: 0;
  background-color: rgb(207,158,158)
}
.YarnLogo {
  float: left;
}
nav {
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans JP', sans-serif;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 18px;

  position: relative;
}


h1{
  position: relative;
  font-family: Bebas Neue;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.header {
   padding: 80px;
   font-family: 'Bebas Neue', cursive;
   text-align: center;
   background: rgb(207,158,158);
   color:cadetblue;
}
.header2 {
  padding: 80px;
  text-align:center;
  background: rgb(0, 0, 0);
  color:indianred;
}
.header3 {
  padding:80px;
  text-align:center;
  background: rgba(240,128,128,0.445);
  color:black;

}
.header4 {
  padding: 80px;
  text-align: center;
  background: rgb(0, 0, 0);
  color: white;
}
.header h1 {
   font-size: 70px;
}
h1{
    font-size: 60px;
    
}
h2{
    font-size:60px;
  
}

h3{
  font-size:40px;
}
p{
    font-size: 25px;
}
p2{
  font-size:20px;
}
.footer {
   padding: 20px;
   text-align: left;
   background: rgb(240,248,255);
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}


/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}